/* Styles for the form */

.form-container {
    font-family: Avenir, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
    justify-content: space-between; /* Aligner les éléments à l'extrême gauche et à l'extrême droite */
  }
  
  fieldset {
    background-color: rgba(240, 160, 0, 0.2);
    border: none;
    padding: 20px;
    flex: 1; /* Utilisation de flex pour répartir l'espace disponible horizontalement */
    margin-right: 20px; /* Espacement entre les champs de formulaire */
  }
  
  legend {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .champ {
    margin-bottom: 10px;
  }
  
  textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  select,
  textarea {
    width: calc(100% - 20px); /* Largeur du champ de formulaire moins les bordures */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  input[type="submit"] {
    width: 100%;
    background-color: #f0a000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #e09400;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  